<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Weevo | ويفو</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Weevo App | تطبيق ويفو</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fb395016992501227</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>FacebookAdvertiserIDCollectionEnabled</key>
		<string>TRUE</string>
		<key>FacebookAppID</key>
		<string>983883016711681</string>
		<key>FacebookAutoLogAppEventsEnabled</key>
		<string>TRUE</string>
		<key>FacebookClientToken</key>
		<string>7e70fed1d9b815286041571ad50fec95</string>
		<key>FacebookDisplayName</key>
		<string>Weevo Merchant</string>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<false/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>https</string>
			<string>http</string>
			<string>fbapi</string>
			<string>fb-messenger-api</string>
			<string>fbauth2</string>
			<string>fbshareextension</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>NSBonjourServices</key>
		<array>
			<string>_dartobservatory._tcp</string>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>allow Weevo Merchant to access your camera to change your account picture</string>
		<key>NSFaceIDUsageDescription</key>
		<string>Weevo Merchant need this permission to be able to open your wallet</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Weevo Merchant needs access to location to share your end user location this help captains to track the shipment address</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Weevo Merchant needs access to location to share your end user location this help captains to track the shipment address</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Weevo Merchant needs access to location to share your end user location this help captains to track the shipment address</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>allow Weevo Merchant to access your microphone to record a voice memo in chat</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>Weevo Merchant needs to access your camera to change your account picture</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>allow Weevo Merchant to access your photos to change your account picture</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
